# CakePHP 3


*.DS_Store*
resources/deamon/openzwaved.py
plugin_info/oz-configuration.php
core/class/openzwave.class.php
togit.sh
togit.sh
sync.sh
resources/deamon/.com.greenworldsoft.syncfolderspro
.vscode/settings.json
*.pid
pinconf/--pinConf.json
sync.sh
togit.sh
